
<div class="container">
    <div class="my-5" >

        <mat-grid-list class="ms-6" cols="2" rowHeight="0.4:0.2">
            <mat-grid-tile rows="1"><img src="https://cdn.pixabay.com/photo/2017/06/03/11/17/dinosaur-2368475__340.jpg"
                    alt=""></mat-grid-tile>
            <mat-grid-tile><img src="https://cdn.pixabay.com/photo/2018/04/11/02/06/museum-3309364__340.jpg" alt="">
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list class="ms-6 my-1" cols="2" rowHeight="0.1:0.1">
            <mat-grid-tile> <img src="https://cdn.pixabay.com/photo/2016/10/21/07/36/natural-history-museum-1757353_960_720.jpg" alt=""></mat-grid-tile>
            <mat-grid-tile>
                <p class="text p-3 m-3"><strong><em class="ll">L</em></strong>os dinosaurios (Dinosauria, del griego δεινός deinós ‘terrible’ y σαῦρος sauros ‘lagarto’: ‘lagartos
                    terribles’) son un grupo de saurópsidos que aparecieron durante el período Triásico. Aunque el
                    origen exacto y su diversificación temprana es tema de activa investigación, el consenso
                    científico actual sitúa su origen entre 231 y 243 millones de años atrás. Fueron los vertebrados
                    terrestres dominantes durante 135 millones de años, desde el inicio del Jurásico (hace unos 200
                    millones años) hasta el final del Cretácico (hace 66 millones de años), cuando la mayoría de los
                    grupos de dinosaurios se extinguieron durante la extinción masiva del Cretácico-Paleógeno que puso
                    fin a la Era Mesozoica. El registro fósil indica que las aves evolucionaron a partir de dinosaurios
                    terópodos durante el período Jurásico y, en consecuencia, muchos taxónomos consideran que las aves
                    forman un subgrupo dentro de los dinosaurios. Algunas aves sobrevivieron a este acontecimiento, y
                    sus descendientes continúan el linaje de los dinosaurios hasta nuestros días.</p>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list class="ms-6 my-1" cols="2" rowHeight="0.4:0.2">
            <mat-grid-tile rows="1"><img
                src="https://cdn.pixabay.com/photo/2017/06/10/06/58/dinosaur-2389174__340.jpg" alt=""></mat-grid-tile>
            <mat-grid-tile><img src="https://cdn.pixabay.com/photo/2014/07/09/21/25/skeleton-388561__340.jpg" alt=""></mat-grid-tile>
        </mat-grid-list>
    </div>

</div>









<div class="row"></div>