<div class="row">
  <div class="text-center my-5">
    <div class="img">
      <img class="img_mia rounded-circle" src="assets/img/foto.png" alt="">
    </div>
    

    <div class="container col-8 my-3">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Hola!
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body text-start">
              <p><strong class="hh">M</strong>i nombre es Juan diego.
                <br>
                Soy un desarrollador web Full Stack en aprendizaje.
              </p>
              <br>
              <i class="bi bi-github" style="height: 15cm; width: 15cm;"></i><a class="link_git ms-1 " href="https://github.com/Juanco-23">Juanco-23</a>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>